<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gukbi.bookplybackend.mypage.dao.MyPageMapper">
    <!-- 거래내역 총 게시글 수 조회 -->
    <select id="getTradeCnt" parameterType="String" resultType="Integer">
        select
            count(*)
        FROM
            book_trade
        WHERE
            use_flag='Y'
            and mem_no = #{mem_no}
    </select>
    <!-- 거래내역 조회 -->
     <select id="getTradeList" parameterType="Map" resultType="Map">
        select
            book_trade.trade_no,
            member.mem_name,
            book_trade.trade_title,
            book_trade.trade_book_title,
            book_trade.trade_publisher,
            book_trade.trade_price,
            book_trade.trade_condition,
            book_trade.trade_content,
            book_trade.trade_state
        FROM
            book_trade
        join
            member on book_trade.mem_no = member.mem_no
        WHERE
            1=1
            and book_trade.mem_no = #{mem_no}
            and book_trade.use_flag = 'Y'        
        LIMIT #{nowPage}, #{showCnt}
    </select>
    <!-- 거래내역 삭제 -->
    <update id="deleteTrade" parameterType="Map">
        update
            book_trade
        set
            use_flag = 'N',
            mod_date = now()
        WHERE
            1=1
            and mem_no = #{mem_no}
            and trade_no = #{trade_no}
    </update>
</mapper>