<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gukbi.bookplybackend.mypage.dao.MyPageMapper">
    <!-- 문의내역 총 게시글 수 조회 -->
    <select id="getMyInquiryCnt" parameterType="String" resultType="Integer">
        select
            count(*)
        FROM
            qna
        WHERE
            use_flag='Y'
            and qes_mem_no = #{mem_no}
    </select>
    <!-- 문의내역 조회 -->
  <select id="getMyInquiry" parameterType="Map" resultType="Map">
        select
            qna_no,
            qes_mem_no,
            qes_title,
            qes_content,
            ans_mem_no,
            ans_content,
            qna_yn
        FROM
            qna
        WHERE
            1=1
            and qes_mem_no = #{mem_no}
            and use_flag = 'Y'
            <if test="search != null">
                and qes_title like concat('%', #{search}, '%')
            </if>
        LIMIT #{nowPage}, #{showCnt}
    </select>
    <!-- 문의내역 삭제 -->
    <update id="deleteInquiry" parameterType="Map">
        update
            qna
        set
            use_flag = 'N',
            qes_mod_date = now()
        WHERE
            1=1
            and qes_mem_no = #{mem_no}
            and qna_no = #{qna_no}
    </update>    

    <!-- 공개여부 수정 -->
    <update id="updateVisibilityQna" parameterType="Map">
        update
            qna
        set
            qna_yn = 
                case
                    when qna_yn = 'Y' then 'N'
                    else 'Y'
                end,
            qes_mod_date = now()
        where
            qna_no = #{qna_no}
            and use_flag = 'Y'
    </update>
</mapper>