<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gukbi.bookplybackend.mypage.dao.MyPageMapper">
    <!-- 대메뉴 조회 -->
    <select id="getLargeMenu" parameterType="int" resultType="Map">
        select
            menu_no, menu_name, menu_link, menu_icon, menu_level, use_flag, reg_date, mod_date
        from
            menu
        where
            1=1
            and use_flag = 'Y'
            and menu_level = #{level}  
        order by
            menu_no 
        
    </select> 
    <!-- 소메뉴 조회 -->
    <select id="getSmallMenu" resultType="Map">
        select 
            menu_sub_no, menu_sub_name, menu_no, menu_link, use_flag, reg_date, mod_date
        from
            menu_sub
        where
            1=1
            and use_flag = 'Y'
            and CAST(SUBSTRING(menu_no, 6) AS UNSIGNED) BETWEEN 1 AND 6 
        order by
            menu_sub_no
    </select>
</mapper>