<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gukbi.bookplybackend.common.dao.CommonMapper">
  <!-- 대메뉴 가져오기 -->
  <select id="getLargeMenu" parameterType="Integer" resultType="Map">
    SELECT
      menu_no, menu_name, menu_link, menu_icon, menu_level
    FROM
      Menu
    WHERE
      use_flag = 'Y'
      <if test="level != 10">
        AND menu_level = #{level}
      </if>
  </select>

  <!-- 소메뉴 가져오기 -->
  <select id="getSmallMenu" resultType="Map">
    SELECT
      menu_sub_name, menu_no, menu_link
    FROM
      Menu_sub
    WHERE
      use_flag = 'Y'
  </select>

  <!-- 추천도서 정보 가져오기 -->
  <select id="sugBookInfo" resultType="Map">
    SELECT
      book_no, book_url, book_title, book_author, book_publisher, book_isbn, book_sug
    FROM
      Book
    WHERE
      use_flag = 'Y'
      AND book_sug = 'Y'
  </select>

  <!-- 도서 테이블 총 개수 -->
  <select id="getBookCount" parameterType="Map" resultType="Integer">
    SELECT
      count(*)
    FROM
      Book
    WHERE
      use_flag = 'Y'
      <if test="search != ''">
        AND book_title LIKE CONCAT('%', #{search}, '%')
      </if>
  </select>

  <!-- 도서전체목록 데이터 받기 -->
  <select id="getBookList" parameterType="Map" resultType="Map">
    SELECT
      book_no, book_title, book_author, book_publisher, book_category_no, book_category_name, book_pub_year, book_isbn, book_url
    FROM
      Book
    WHERE
      use_flag = 'Y'
      <if test="search != null">
        AND book_title LIKE CONCAT('%', #{search}, '%')  
      </if>
    limit #{currentPage}, #{recordPage}
  </select>

  <!-- 도서 상세정보 가져오기 -->
  <select id="getBookInfo" parameterType="String" resultType="Map">
    SELECT
      book_no, book_title, book_author, book_publisher, book_category_no, book_category_name, book_pub_year, book_url, book_isbn, date_format(reg_date, '%Y.%m.%d') as reg_date
    FROM
      Book
    WHERE
      use_flag = 'Y'
      AND book_isbn = #{isbn}
  </select>

  <!-- 카테고리 도서 테이블 총 개수 -->
  <select id="getCatCount" parameterType="Map" resultType="Integer">
    SELECT
      count(*)
    FROM
      Book
    WHERE
      use_flag = 'Y'
      AND book_category_name = #{menuName}
  </select>

  <!-- 카테고리 도서전체목록 데이터 받기 -->
  <select id="getCatList" parameterType="Map" resultType="Map">
    SELECT
      book_no, book_title, book_author, book_publisher, book_category_no, book_category_name, book_pub_year, book_isbn, book_url
    FROM
      Book
    WHERE
      use_flag = 'Y'
      AND book_category_name = #{menuName}
    limit #{currentPage}, #{recordPage}
  </select>

  <!-- 최신 공지사항 목록 가져오기 -->
  <select id="getNotiList" parameterType="Map" resultType="Map">
    SELECT
      noti_no, noti_title, date_format(mod_date, '%Y-%m-%d') as mod_date
    FROM
      notification
    WHERE
      use_flag = 'Y'
    ORDER BY reg_date DESC limit 5
  </select>

  <!-- 북플리 추천 목록 가져오기 -->
  <select id="getBookPly" parameterType="String" resultType="Map">
    SELECT ply.bpl_no, ply.bpl_name, ply.bpl_intro, ply.bpl_category, ply.book_cnt,
	    (SELECT bpl.book_no FROM bpl_detail AS bpl
        WHERE bpl.bpl_no = ply.bpl_no and bpl.use_flag = 'Y' LIMIT 1) AS book_no,
	    (SELECT book.book_url FROM bpl_detail AS bpl
	      JOIN book ON bpl.book_no = book.book_no
	      WHERE bpl.bpl_no = ply.bpl_no AND bpl.use_flag = 'Y' LIMIT 1) AS book_url,
      (SELECT prefer.pf_name FROM bpl_detail AS bpl
        JOIN prefer ON prefer.pf_no = ply.bpl_category
        WHERE bpl.bpl_no = ply.bpl_no AND bpl.use_flag = 'Y' LIMIT 1) AS pf_name
    FROM book_playlist AS ply
    WHERE
      ply.use_flag = 'Y'
      AND ply.bpl_category = #{favorite};
  </select>

  <!-- 책바구니에 담기 -->
  <insert id="basket" parameterType="Map">
    INSERT INTO
      book_basket(mem_no, book_no, reg_date, mod_date)
    VALUES
      (#{memNo}, #{bookNo}, now(), now())
  </insert>

  <!-- 책바구니에 빼기 -->
  <delete id="basketDelete" parameterType="Map">
    DELETE FROM
      book_basket
    WHERE
      mem_no = #{memNo}
      AND book_no = #{bookNo}
  </delete>

  <!-- 책바구니에 전체 빼기 -->
  <delete id="basketDeleteAll" parameterType="Map">
    DELETE FROM
      book_basket
    WHERE
      mem_no = #{memNo}
  </delete>

  <!-- 책바구니 목록 가져오기 -->
  <select id="basketList" parameterType="String" resultType="Map">
    SELECT
      basket.book_no, book.book_title, book.book_author, book.book_publisher, book.book_category_no, book.book_category_name, book.book_url
    FROM
      book_basket as basket
    JOIN
      book ON book.book_no = basket.book_no
    WHERE
      basket.use_flag = 'Y'
  </select>

  <!-- 책바구니 내역 대여 -->
  <insert id="bookRent" parameterType="Map">
    INSERT INTO
      rent(mem_no, book_no, rent_date, return_state, reg_date, mod_date)
    VALUES
      <foreach item="item" collection="list" separator=",">
        (#{item.memNo}, #{item.book_no}, now(), "대여중", now(), now())
      </foreach>
  </insert>

  <!-- 도서대여내역 조회 -->
  <select id="getBookStatus" parameterType="String" resultType="Integer">
    SELECT
      count(*)
    FROM
      rent
    WHERE
      use_flag = 'Y'
      AND book_no = #{bookNo}
  </select>

  <!-- 미반납 도서대여내역 조회 -->
  <update id="updateRentalList">
    UPDATE
      rent
    SET
      return_state = "연체중"
    WHERE
      return_date is null
      AND date_add(rent_date, INTERVAL 14 DAY) &lt; now()
  </update>
  
  <!-- 카테고리 목록 조회 -->
  <select id="getCategory" resultType="Map">
    SELECT
      pf_no, pf_name
    FROM
      prefer
    WHERE
      use_flag = 'Y'
  </select>

  <!-- 연체중인 목록 조회 -->
  <select id="getOverdueRent" resultType="Map">
    SELECT
      rent.rent_date, member.mem_email, member.mem_name
    FROM
      rent
    JOIN
      member ON member.mem_no = rent.mem_no
    WHERE
      return_date is null
      AND date_add(rent.rent_date, INTERVAL 14 DAY) &lt; now()
  </select>

  <!-- 예약내역 목록 조회 -->
  <select id="getReservation" resultType="Map">
    SELECT
      COUNT(reserv.book_no), reserv.book_no, book.book_title, book.book_publisher,
       book.book_category_no, book.book_category_name, book.book_url, book.book_isbn
    FROM
      (SELECT
        *
      FROM
        book_reservation
      WHERE use_flag = 'Y'
        ORDER BY reserv_date DESC LIMIT 100) AS reserv
    JOIN book ON reserv.book_no = book.book_no
    GROUP BY reserv.book_no limit 5;
  </select>

  <!-- 리뷰내역 조회 -->
  <select id="getReview" resultType="Map">
    SELECT
      rent_no, rev_scope, rev_content, mem_no
    FROM
      review
    WHERE
      use_flag = 'Y'
      AND book_no = (select book_no from book where book_isbn = #{isbn});
  </select>
</mapper>