<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gukbi.bookplybackend.madang.dao.MadangMapper">

    <select id="getBookTradeCnt" parameterType="Map" resultType="Integer">
        select 
            count(*)
        from
            book_trade
        where
            use_flag = 'Y'
            <if test="search != null">
                and ${column} like concat('%', #{search}, '%')
            </if>
    </select>

    <select id="getBookTradeList" parameterType="Map" resultType="Map">
        select
            book_trade.trade_no,
            member.mem_name,
            book_trade.trade_title,
            book_trade.trade_book_title,
            book_trade.trade_publisher,
            book_trade.trade_price,
            book_trade.trade_state
        from
            book_trade
        JOIN
            member on book_trade.mem_no = member.mem_no
        where
            book_trade.use_flag = 'Y'
            <if test="search != null">
                and ${column} like concat('%', #{search}, '%')
            </if>
        limit #{nowPage}, #{showCnt}
    </select>

    <select id="getTradeDetail" parameterType="String" resultType="Map">
        select
            book_trade.mem_no,
            member.mem_name,
            book_trade.trade_title,
            book_trade.trade_book_title,
            book_trade.trade_publisher,
            book_trade.trade_price,
            book_trade.trade_condition,
            book_trade.trade_content,
            book_trade.trade_state,
            member.mem_phone,
            member.mem_email,
            book_trade.reg_date
        from
            book_trade
        join
            member on book_trade.mem_no = member.mem_no
        where
            book_trade.use_flag = 'Y'
            and book_trade.trade_no = #{tradeNo}
    </select>
</mapper>