<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gukbi.bookplybackend.madang.dao.MadangMapper">
    <!-- 자주하는 질문 조회 -->
    <select id="getFaq" resultType="Map">
        select
            faq_no,faq_title,faq_content
        from
            faq
        where
            use_flag = 'Y'
    </select>
    <!-- 문의사항 개수 조회 -->
    <select id="getQnaCnt" parameterType="Map" resultType="Integer">
        select
            count(*)
        from
            qna
        where
            use_flag = 'Y'
            and qna_yn = 'Y'
            <if test="search != null">
                and ${column} like concat('%', #{search}, '%')
            </if>
    </select>
    <!-- 문의사항 조회 -->
    <select id="getQna" parameterType="Map" resultType="Map">
        select
            qna.qna_no,
            member.mem_name,
            qna.qes_title,
            qna.qes_content,
            qna.ans_content
        from
            qna
        join
            member on qna.qes_mem_no = member.mem_no
        where
            qna.use_flag='Y'
            and qna.qna_yn = 'Y'
            <if test="search != null">
                and ${column} like concat('%',#{search},'%')
            </if>
        limit
            #{nowPage}, #{showCnt}
    </select>
    <!-- qna_no 마지막 번호 조회 -->
    <select id="getMaxInquiryNo" resultType="Integer">
        select
            max(qna_no)
        from
            qna
    </select>
    <!-- 문의사항 등록 -->
    <insert id="inquiryReg" parameterType="Map">
        insert into qna(
            qna_no,
            qes_mem_no,
            qes_title,
            qes_content,
            qna_yn,
            use_flag,
            qes_reg_date,
            qes_mod_date
        ) values(
            (#{qna_no} + 1),
            #{qes_mem_no},
            #{qes_title},
            #{qes_content},
            #{qna_yn},
            'Y',
            now(),
            now()
        )
    </insert>
</mapper>